<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <div style="justify-content: center; align-items: center; text-align: center; margin-top: 250px;">
        <form method="post" style="border: 2px solid black; width: 400px; margin-left: 550px;">
        <h1>Log in</h1>
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" style="background-color: green; color: white; font-size: 1000px;"></button>
        </form>
    </div>
</body>
</html>