{% extends 'base.html' %}

{% block title %} KiralamaIndex {% endblock %}

{% block body%}

{% if user.is_authenticated %}
<div>
    <button type="button" style="display: flex;"><a href="">Kiralama yap</a></button>
</div>
<table class="table table-striped table-bordered table-hover" style="width:50%">
    <caption>Kiralama Listesi</caption>
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Kiralama Tarihi</th>
            <th scope="col">Kiralama Süresi</th>
            <th scope="col">Kiralama Ücreti</th>
            <th scope="col">IHA id</th>
            <th scope="col">Müşteri id</th>
            <th scope="col">Kiralama saati</th>
        </tr>
    </thead>
    <tbody>
        {% for Kiralama in Kiralamalar %}
        <tr>
            <td><a href="{{ Kiralama.id }}">{{ Kiralama.id }}</a></td>
            <td>{{ Kiralama.kiralama_tarihi }}</td>
            <td>{{ Kiralama.kiralama_suresi}}</td>
            <td>{{ Kiralama.kiralama_ucreti}}</td>
            <td>{{ Kiralama.IHA}}</td>
            <td>{{ Kiralama.musteri}}</td>
            <td>{{ Kiralama.kiralama_saati}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<p>You are not logged in</p>
<p>Please log in to continue</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}

{% endblock %}